@media (max-width: 769px){
    .container{
        width: calc(100% - 2rem);
    }
}
.container {
    align-self: center;
    margin-bottom: 2.5rem;
    overflow-x: hidden;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
  }

.arrow_cointainer{
    color: #ff073a
}

.arrow{
    height: 18;
    color: #ff073a;
}
.recovered_container{
    color:#28a745;
}
.death_cointainer{
    color: #6c757d;
}